<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.taitasciore.android.fmtest">

    <!-- No need to add INTERNET permission since it is included when compiling Retrofit -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk tools:overrideLibrary="android.support.design,
    android.support.constraint, com.afollestad.materialdialogs, android.support.v13,
    com.google.android.gms.maps, com.google.android.gms.base, com.google.android.gms.tasks,
    com.google.android.gms" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="org.taitasciore.android.fmtest.provider"
            android:name="org.taitasciore.android.storage.StationsContentProvider" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAx-PnD2u-_wufxfhcevRV1Qd38E6eVHB0" />
    </application>

</manifest>